header, footer {
  padding: 20px; /* Adds some padding inside each section */
}

#sign-in {
  margin: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: #343a40;
  color: white;
  border-color: white;
  border-style: solid;
}

#sign-in:hover {
  cursor: pointer;
  filter: brightness(75%);
}

#sign-in:active {
  cursor: pointer;
  filter: brightness(50%);
}

header, footer {
  background-color: #343a40; /* Example header/footer color */
  color: white;
  grid-column: 1 / -1; /* Spans full width */
}

.left-side, .right-side {
  background-color: #565e65; /* Example sidebar color */
  color: white;
}

main {
  background-color: #343a40; /* Example main content color */
  color: white;
}

.navbar-toggler-icon {
  filter: invert(100%); /* Inverts the color, assuming the original is black */
}

.navbar-toggler-icon:hover {
  filter: invert(100%); /* Inverts the color, assuming the original is black */
  filter: brightness(75%);
}

a {
  color: white;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  filter: brightness(75%)
}

a:active {
  filter: brightness(50%)
}
body {
  text-align: center;
  background-color: #343a40;
}

label{
  color: white;
  display: block;
  margin-bottom: 10px;
}
.top-title {
  margin-bottom: 10px;
  font-size: x-large;
  color: white;
}



/*Screen Adjusting Rules */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column; 
  }

  nav ul li {
      margin-bottom: 10px;
  }
}


